parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var for variable \\$mbSales has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Clients/Universalis/UniversalisClient.php

		-
			message: "#^Method App\\\\Http\\\\Clients\\\\XIV\\\\XIVClientInterface\\:\\:fetchRecipe\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Clients/XIV/XIVClientInterface.php

		-
			message: "#^Parameter \\#1 \\$user of class Illuminate\\\\Auth\\\\Events\\\\Verified constructor expects Illuminate\\\\Contracts\\\\Auth\\\\MustVerifyEmail, App\\\\Models\\\\User\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: "#^Property App\\\\Models\\\\CraftingCost\\:\\:\\$attributes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Models/CraftingCost.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Item\\:\\:\\$market_price\\.$#"
			count: 2
			path: app/Models/Recipe.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Recipe\\:\\:\\$market_craft_cost\\.$#"
			count: 1
			path: app/Models/Recipe.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Recipe\\:\\:\\$optimal_craft_cost\\.$#"
			count: 1
			path: app/Models/Recipe.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Recipe\\:\\:\\$purchase_cost\\.$#"
			count: 1
			path: app/Models/Recipe.php

		-
			message: "#^Method App\\\\Models\\\\Recipe\\:\\:itemIDs\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Models/Recipe.php
