includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - tests
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - %currentWorkingDirectory%/app/Providers/*
    ignoreErrors:

