includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - tests
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - %currentWorkingDirectory%/app/Providers/*
        - %currentWorkingDirectory%/tests/*
    ignoreErrors:

